body{
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #a2d2ff;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bff-img{
  width: 150px;
  border: 6px solid #EFB0C9;
  border-radius: 50%; 
}

#title,
#age,
#date,
.gift-title,
.gift-hint{
  text-shadow: 0 0 1px black;
}

#age,
#date{
  background-color: #EFB0C9;
  padding:5px 10px;
  border-radius: 5px;
  margin:15px;
}
#date{
  margin-top: -5px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-img{
  border-radius: 10px;
  border:6px solid white;
  width: 400px; 
  height: 400px;
  background-image: url("./gift-cover.jpg");
  background-size:cover;
  margin-left: auto;
  margin-right:auto;
}

.gift-section{
  margin-top: 20px;
}

#gift-img-happy:hover{
  background-image: url("./happy.gif");
}

#gift-img-hot:hover{
  background-image: url("./hot.gif");
}

#gift-img-badass:hover{
  background-image: url("./badass.gif");
}

#gift-img-genius:hover{
  background-image: url("./genius.gif");
}

#gift-img-cheers:hover{
  background-image: url("./cheers.gif");
}

#gift-img-cheers{
 height:200; 
}