body{
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #a2d2ff;
  color: #ffffff;
  padding: 20px;
}

img{
  width: 150px;
  border: 6px solid #EFB0C9;
  border-radius: 50%; 
}


pink: #EFB0C9
blue: #a2d2ff
white: #ffffff