body{
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #a2d2ff;
  color: #ffffff;
  padding: 20px;
}

img{
  width: 150px;
  border: 6px solid #EFB0C9;
  border-radius: 50%; 
}

h1,
h2,
h4{
  text-shadow: 0 0 1px black;
}